.ea-dark-scheme .card {
  background-color: var(--sidebar-bg);
}
.ea-dark-scheme .list-group-item {
  color: var(--text-primary-color);
  background-color: var(--true-gray-700);
}
.ea-dark-scheme .text-body {
  color: var(--text-primary-color) !important;
}
